.alias-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f9fc; /* 배경 색상 */
}

<<<<<<< HEAD
h4 {
    /* text-align: center; */
    margin-top: 10px;
    margin-bottom: 20px;
    color: #333;
}

=======
>>>>>>> 31ae1609374d58438f6c7d96fa797b503873c90f
.input-wrapper {
    margin: 10px 0;
    width: 80%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px; /* 모서리 둥글게 */
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

<<<<<<< HEAD
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #b0d1ad;
    outline: none;
}

/* button {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background-color: #c9ffd6;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
} */

button:hover {
    background-color: #218838;
=======
input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
>>>>>>> 31ae1609374d58438f6c7d96fa797b503873c90f
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

  
*{
    font-family: 'S-CoreDream-3Light';
}